## Load the Dataset

import pandas as pd

In [8]:
df = pd.read_csv('TG_STAID000001.txt',skiprows=20,parse_dates=['    DATE'])

In [10]:
df[1:25]

    STAID   SOUID       DATE     TG   Q_TG
1       1   35381 1860-01-02     46      0
2       1   35381 1860-01-03     31      0
3       1   35381 1860-01-04     37      0
4       1   35381 1860-01-05     31      0
5       1   35381 1860-01-06     16      0
6       1   35381 1860-01-07      5      0
7       1   35381 1860-01-08    -27      0
8       1   35381 1860-01-09     -4      0
9       1   35381 1860-01-10    -17      0
10      1   35381 1860-01-11     -5      0
11      1   35381 1860-01-12    -18      0
12      1   35381 1860-01-13    -27      0
13      1   35381 1860-01-14    -26      0
14      1   35381 1860-01-15    -37      0
15      1   35381 1860-01-16     -9      0
16      1   35381 1860-01-17      7      0
17      1   35381 1860-01-18     -6      0
18      1   35381 1860-01-19    -16      0
19      1   35381 1860-01-20    -19      0
20      1   35381 1860-01-21    -11      0
21      1   35381 1860-01-22     -1      0
22      1   35381 1860-01-23      2      0
23      1   35381 1860-01-24      7      0
24      1   35381 1860-01-25     10      0